@font-face {
    font-family: Input;
    src: url('Input-Regular.ttf');
}

body {
    background-color: #2F2F2F;
    color: #EEE;
    margin-left: 20%;
    font-family: Input;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    margin-left:1em;
    color: white;
    font-weight: bold;
}

p {
    font-weight: lighter;
}

p.publication {
    font-size: 12px;
}

span.me {
    font-weight: bolder;
    color: #5CA9F7;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

#page {
    text-align: justify;
    width: 700px;
    margin: 0 auto;
}

div.sidenote-left {
    float: left;
    margin-left: -175px;
    margin-top: -1em;
}

div.sidenote-right {
    float: right;
    margin-right: -175px;
}

div.sidenote-left,
div.sidenote-right {
    width: 150px;
    text-align: left;
    font-size: 12px;
}

#headline {
    top:0px;
    display:inline-block;
    width: 740px;
    margin-left: -20px;
}

#headline h1,
#headline h2 {
    margin-bottom:0em;
    margin-top:0em;
}

#headline hr {
    width:105%;
    margin-left:-2.5%;
}

#contact p {
    margin-bottom:0em;
    margin-top:0em;
}

#bio-headline {
    transform-origin: center center;
    transform: rotate(2deg) translateY(25px);
}

div#photo-frame {
}

img#photo {
    width: 150px;
    border-radius: 50%;
}

#contact-headline {
    transform-origin: center center;
    transform: rotate(-1deg);
}

#footer {
    margin-top: 2em;
}

#footer hr {
}

#footer-content {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#last-updated {
    opacity: 0.3;
}

#name {
    transform: skewY(14deg) translateY(90px);
}

#title {
    transform: skewY(-20deg) translateY(-95px);
}

#location {
    transform: skewY(10deg) translateY(-40px) translateX(220px);
}

@media only screen and (max-device-width: 500px) {
    body {
        margin-left:0em;
        font-size:14px;
        width: 100%;
    }

    #wrapper {
    width: 100%;
    }

    #page {
    text-align: justify;
    width: 95%;
    margin-left: 1em;
    margin-right: 1em;
    }

    p {
        width:100%;
    }

    a {
        font-size:12px;
    }

    #headline {
        font-size:20px;
        width:100%;
        margin-left:0em;
        float: top;
    }

    #headline hr {
        width:100%;
        margin-left:0em;
    }

    #name,
    #title,
    #location {
        transform: translate(0px);
    }
}
